autopep8==2.1.0
cffi==1.16.0
cryptography==42.0.5
customtkinter==5.2.2
darkdetect==0.8.0
packaging==24.0
pillow==10.3.0
pip-review==1.3.0
pycodestyle==2.11.1
pycparser==2.22
pyee==11.1.0
typing_extensions==4.10.0
