altgraph==0.17.3
cffi==1.15.1
commonmark==0.9.1
cryptography==41.0.3
markdown-it-py==3.0.0
mdurl==0.1.2
pefile==2023.2.7
pycparser==2.21
Pygments==2.16.1
pyinstaller==5.13.1
pyinstaller-hooks-contrib==2023.7
pywin32-ctypes==0.2.2
rich==13.5.2
